GOOGLE_CREDENTIALS_BASE64= # Instructions on retrieving base64-encoded Google Credentials: https://github.com/pinecone-io/sample-apps-internal/blob/main/shop-the-look/README.md#google-cloud-setup
PINECONE_API_KEY= # Instructions on retrieving Pinecone API key: https://github.com/pinecone-io/sample-apps-internal/blob/main/shop-the-look/README.md#pinecone-setup
NEXT_PUBLIC_DEVELOPMENT_URL=http://localhost:8000 # Default is 'https://localhost:8000'. Change to your backend port if needed. For production, Vercel will set the appropriate value, so you don't need this variable.
NEXT_PUBLIC_VERCEL_ENV=demo # Default is 'demo' mode. Change to "development" to use your own backend. For production, Vercel will set the appropriate value, so you don't need this variable.

GOOGLE_CLOUD_PROJECT_ID= # Add your Google Cloud Project ID, instructions: https://github.com/pinecone-io/sample-apps-internal/blob/main/shop-the-look/README.md#google-cloud-setup
GOOGLE_CLOUD_PROJECT_LOCATION= # Add your Google Cloud Project Location, instructions: https://github.com/pinecone-io/sample-apps-internal/blob/main/shop-the-look/README.md#google-cloud-setup
GOOGLE_CLOUD_STORAGE_BUCKET_NAME= # Add your Google Cloud Storage Bucket Name, instructions: https://github.com/pinecone-io/sample-apps-internal/blob/main/shop-the-look/README.md#google-cloud-setup
PINECONE_INDEX_NAME= # Add your Pinecone Index name, instructions: https://github.com/pinecone-io/sample-apps-internal/blob/main/shop-the-look/README.md#pinecone-setup
PINECONE_TOP_K=20 # Number of Pinecone results (top-k) to return, default is 20 results